body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://html-templates.info/images/pages/140520040122.jpg);
    background-position:top;
    background-repeat:no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h3{
    color: lightgray;
}

h2 {
    color: aqua;
}

p{
    color:honeydew;
}
.jumbotron {
    background: RGBA(95,158,160,0.5);
}

input#ButtonUploadFile {
    background-color: RGBA(34,34,34,0.7);
    color: aliceblue;
}

th {
    background: RGBA(34,34,34,0.7);
}
td {
    color: RGB(34,34,34);
}

.table {

    border: 2px solid;
}
/*.col-md-6{

}*/